/* shared items */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
    /* --gradient-color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%); */
    --primary-color: #FF42A5;
    /* linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%); */
    --secondary-color: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);

}


* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.section-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
}

.title-color {
    color: var(--primary-color);
}

.video-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.para-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}

#icon {
    color: var(--primary-color);
    margin-right: 8px;
}

#youtube {
    color: red;
    margin-left: 5px;
    margin-right: 5px;
}

#facebook,
#twitter,
#linkedin {
    color: rgb(0, 191, 255);
}

#instagram {
    color: var(--primary-color);
}

#apple {
    color: gray;
}

/* header styles */
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar li {
    list-style: none;
    padding-right: 30px;
}



.btn-nav {
    border-radius: 0px;
    border: 0;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 17px 24px;
}


/* banner styles */

.banner {
    display: flex;
    justify-content: space-around;
    background: #fcf9f9;
    /* max-width: 1940px; */
}

.banner-title-1 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-title-2 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--primary-color);
}

.banner-list li {
    list-style: none;
    padding-top: 10px;
}

.banner-list a {
    text-decoration: none;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;

}

.button {
    display: flex;
    gap: 20px;
    padding-left: 50px;
    margin-top: 50px;
}

.btn-primary-1 {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border: 0;
    border-radius: 48px;
    background-color: var(--primary-color);
}

.btn-primary-2 {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    border: 0;
}


/* gamer styles */
.gamer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}



.gamer-content {
    text-align: right;
    width: 50%;
}

.gamer-image {
    width: 50%;
}

.gamer-image img {
    width: 100%;
}

.gamer-description-2 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.gamer-slogan {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

/* videos styles */
.videos-container {
    text-align: center;
    margin: 50px 240px;
}

.video-img-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.video-img-div img {
    width: 100%;
}


/* 
online games styles */
.online-game-container {
    display: flex;
    justify-content: space-between;

    margin: 50px 240px;
    gap: 50px;
    align-items: center;
}

.online-game-content {
    width: 40%;
    text-align: right;
    margin-right: 50px;
}

.online-game-image-div {
    width: 50%;
}

#online-pic-1 {
    width: 100%;
    margin-left: 100px;
    /* margin-right: -200px; */
}

#online-pic-2 {
    position: relative;
    width: 60%;
    top: -230px;
    left: -50px;
}

/* play game styles */
.play-game-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 240px;
    gap: 100px;
    align-items: center;
}

.play-game-content {
    width: 40%;
    text-align: left;
    margin-left: 50px;
}

.play-game-image-div {
    width: 50%;
}

#play-pic-1 {
    width: 100%;
    margin-left: -60px;
    /* margin-right: -200px; */
}

#play-pic-2 {
    position: relative;
    width: 60%;
    top: -130px;
    right: -250px;
}


/* career styles */
.career-container {
    display: flex;
    /* justify-content: space-between; */
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    padding: 50px 50px;
    align-items: center;
}

.career-content {
    width: 50%;

}

.career-image {
    width: calc(100% - 50% - 50px);
}

.career-image img {
    width: 100%;
}

.career-title {
    font-size: 3rem;
    font-weight: 700;
}

.career-description {
    font-size: 1.2rem;
    font-weight: 400;
}

.career-list {
    display: flex;
    /* justify-content: space-around; */
    font-size: 1.25rem;
    font-weight: 600;
}

.career-list li {
    list-style: none;
}

.career-name a {
    text-decoration: none;
    color: #FFF;
}

/* .career-name {
    text-align: start;
}

.career-list-location {
    text-align: right end;
} */

.career-btn {
    border-radius: 48px;
    background-color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    color: var(--primary-color);
    padding: 21px 40px;
    margin-top: 30px;
}


/* game styles */
.game {
    display: flex;
    gap: 10px;
    margin: 60px 30px;
    align-items: center;
}

.game-name {
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
}

.game-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
}

.game-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.game:hover {
    border: 2px solid var(--primary-color);
    border-radius: 48px;
}

.game p:hover {
    color: var(--primary-color);
}

footer {
    background: #0B0223;
    color: #FFF;
    margin-bottom: -30px;
    text-align: center;
    padding: 50px 240px;
}

.footer-title {
    font-size: 3.8rem;
    font-weight: 700;
}

footer ul {
    display: flex;
    gap: 60px;
    justify-content: center;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

.terms {
    font-size: 1rem;
    font-weight: 500;
}


/* responsive media query */
/* mobile device */
@media screen and (max-width:576px) {

    .navigation,
    .nav-bar,
    .banner,
    .button,
    .gamer-container,
    .online-game-container {
        flex-direction: column;
        align-items: center;
    }

    .play-game-container {
        flex-direction: column-reverse;
    }

    .online-game-content,
    .play-game-content,
    footer {
        /* width: 100%; */
        text-align: center;
    }

    .banner,
    .online-game-container,
    .play-game-container,
    footer {
        margin: 10px;

    }

    .banner img {
        width: 100%;
    }

    .gamer-content,
    .gamer-content .section-title,
    .play-game-content,
    .online-game-content {
        text-align: center;
        width: 100%;
        margin: 10px;
    }

    .gamer-container .gamer-image {
        width: 100%;
    }

    .video-img-div {
        grid-template-columns: repeat(1, 1fr);
    }

    .videos-container {
        margin: 10px;
    }

    #online-pic-1 {
        width: 100%;
        margin: auto;
        /* margin-left: 100px; */
        /* margin-right: -200px; */
    }

    #online-pic-2 {
        position: relative;
        width: 60%;
        top: -90px;
        left: -40px;
    }

    #play-pic-1 {
        width: 100%;
        margin: auto;
        /* margin-left: -60px; */
        /* margin-right: -200px; */
    }

    #play-pic-2 {
        position: relative;
        width: 60%;
        top: -80px;
        right: -120px;
    }

    footer ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .footer-title {
        text-align: center;
    }

}

/* medium device */
@media screen and (min-width:576px) and (max-width:960px) {

    .banner,
    .gamer-container,
    .online-game-container {
        flex-direction: column;
        align-items: center;
    }

    .gamer-content,
    .gamer-content .section-title,
    .online-game-content,
    .play-game-content {
        text-align: center;
        width: 100%;
        margin: 30px;
    }

    .video-img-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .videos-container {
        margin: 10px;
    }

    .play-game-container {
        flex-direction: column-reverse;
    }

    #online-pic-1 {
        width: 100%;
        margin: auto;
        /* margin-left: 100px; */
        /* margin-right: -200px; */
    }

    #online-pic-2 {
        position: relative;
        width: 60%;
        top: -60px;
        left: -40px;
    }

    #play-pic-1 {
        width: 100%;
        margin: auto;
        /* margin-left: -60px; */
        /* margin-right: -200px; */
    }

    #play-pic-2 {
        position: relative;
        width: 60%;
        top: -60px;
        right: -100px;
    }
}